<h1>Editar Mentora</h1>

<form method="post" action="<%=mentora_path(@mentora)%>">
    <label for="mentora[nome]">Nome</label>
    <input type="text" name="mentora[nome]" value="<%=@mentora.nome%>">

    <label for="mentora[contato]">Contato</label>
    <input type="text" name="mentora[contato]" value="<%=@mentora.contato%>">

    <label for="mentora[habilidades]">Habilidades</label>
    <textarea name="mentora[habilidades]"><%=@mentora.habilidades%></textarea>

    <input type="hidden" value="PATCH" name="_method">
    <input type="submit" value="Editar">
</form>