<h1>Nova Mentora</h1>

<form method="post" action="<%=mentoras_path%>">
    <label for="mentora[nome]">Nome</label>
    <input type="text" name="mentora[nome]">

    <label for="mentora[contato]">Contato</label>
    <input type="text" name="mentora[contato]">

    <label for="mentora[habilidades]">Habilidades</label>
    <textarea name="mentora[habilidades]"></textarea>

    <input type="submit" value="Criar">
</form>